._lafeum_dictionary_ {
    position: absolute;
    width: 428px;
    height: 24px;
    left: 604px;
    top: 177px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #4A4A4A;
}

.search_bar {
    position: absolute;
    width: 717px;
    height: 52px;
    left: 604px;
    top: 276px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 16px;
    border: 1px solid #9B9B9B;
    border-radius: 2px;
}

.search_icon {
    position: absolute;
    right: 18px;
}

.search_field {
    width: 650px;
    height: 24px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #9B9B9B;
    flex: none;
    order: 0;
    flex-grow: 0;
    outline: none;
    border: none;
}

.search_queries {
    position: absolute;
    height: 58px;
    left: 31.46%;
    right: 39.11%;
    top: 360px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 5 00;
    font-size: 16px;
    line-height: 29px;
    color: #8C8888;
}

.all_letters {
    position: absolute;
    height: 24px;
    left: 604px;
    top: 456px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #AFAFAF;
    font-family: 'Lato',sans-serif;
}

.first_slot,
.second_slot,
.third_slot {
    position: absolute;
    width: 233px;
    height: 708px;
    left: 612px;
    top: 497px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #AFAFAF;
}

.second_slot {
    left: 879px;
}

.third_slot {
    left: 1130px;
}

.down_sign {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 944.9px;
    top: calc(50% - 32px/2 + 216.5px);
    background: #AEAEAE;
    opacity: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_side,
.right_side {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 860px;
    top: 1310px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.1);
}

.right_side {
    left: 1020px;
}

.number_slider {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 944.9px;
    top: calc(50% - 32px/2 + 280.5px);
    background: #aeaeae20;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.left_number,
.right_number {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 910px;
    bottom: 753px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.1);
}

.right_number {
    left: 1000px;
    bottom: 753px;
}