footer {
    width: 1920px;
    height: 430px;
    position: absolute;
    color: #fff;
    bottom: 0;
    background: #1E2833;
}

.footer_logo {
    width: 87px;
    height: 73px;
    position: absolute;
    left: 47.71%;
    right: 47.74%;
    top: 10.93%;
    bottom: 74.19%;
    background: url('../img/white-footer-logo.png') no-repeat;
    background-size: 100%;
}

.footer_text {
    position: absolute;
    height: 63px;
    left: 36.77%;
    right: 36.82%;
    top: calc(50% - 63px/2 - 50.5px);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.231818px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.about,
.use_term,
.privacy_policy,
.contacts {
    position: absolute;
    height: 26px;
    left: 0%;
    right: 92.46%;
    top: calc(50% - 26px/2 + 25px);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}

.use_term {
    left: 15.21%;
    right: 55.14%;
}

.privacy_policy {
    height: 18px;
    left: 53.97%;
    right: 17.69%;
    top: calc(50% - 18px/2 + 25px);
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.204545px;
}

.contacts {
    left: 90.64%;
    right: -0.13%;
}

.right_reserved {
    position: absolute;
    left: 42.6%;
    right: 42.5%;
    top: 90.23%;
    bottom: 4.19%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #D9DBE1;

}

.instagram_logo,
.ball_logo,
.twitter_logo,
.youtube_logo {
    position: absolute;
    left: 3.89%;
    right: 87.22%;
    top: 23.33%;
    bottom: 23.33%;
}

.ball_logo {
    left: 31.67%;
    right: 59.44%;
}

.twitter_logo {
    left: 59.72%;
    right: 32.21%;
    top: 30%;
    bottom: 30%;
}

.youtube_logo {
    left: 87.22%;
    right: 3.89%;
    top: 31.67%;
    bottom: 30%;
}

.first_footer_container {
    position: absolute;
    width: 769px;
    height: 26px;
    left: 575px;
    top: 228px;
}

.second_footer_container {
    position: absolute;
    width: 144px;
    height: 24px;
    left: 888px;
    top: 309px;
}