header {
    position: absolute;
    width: 1920px;
    height: 84px;
    left: 0px;
    top: 0px;
    background: #fff;
}
.header_link {
    font-family: Lato;
    font-size: 16px;
    color: #707070;
    font-weight: 400;
    text-decoration: none;
    line-height: 20px;
    position: absolute;
    top:32px;
}
.main_logo {
    position: absolute;
    top:11px;
    left: 100px;
}

/* Links */

.header_link:nth-child(2) {
    left: 246px;
}
.header_link:nth-child(3) {
    left: 388px;
}
.header_link:nth-child(4) {
    left: 478px;
}
.header_link:nth-child(5) {
    left: 560px;
}
.header_link:nth-child(6) {
    left: 643px;
}
.header_link:nth-child(7) {
    left: 716px;
}
.header_link:nth-child(8) {
    left: 808px;
}

/* User */

.user {
    width: 53.65px;
    height: 53.65px;
    border-radius: 50%;
    background-size: 100%;
    background-image: url('../img/hacker.jpg');
    position: absolute;
    left: 1766px;
    top: 15px;
}