* {
    font-family: "lato";
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #E5E5E5;
    overflow-x: hidden;
}

main {
    position: absolute;
    width: 1920px;
    height: 2097px;
    background: #fff;
}

/*---------- Левая часть -------------*/

.theme {
    width: 51px;
    height: 24px;
    position: absolute;
    left: 105px;
    top: 112px;
    font-family: 'Thames';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #AFAFAF;
}

.values_goals,
.society {
    width: 450px;
    height: 60px;
    position: relative;
    left: 100px;
    top: 177px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
    overflow: hidden;
}

.society {
    top: 200px;
}

.drop_down {
    width: 8px;
    height: 12px;
    background: #B7B7B7;
    clip-path: polygon(0 0, 100% 50%, 0% 100%);
    position: absolute;
    left: 350px;
    top: 40px;
}

.Lufeum {
    position: absolute;
    width: 227px;
    height: 24px;
    left: 579px;
    top: 228px;
    font-weight: 400;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    color: #4A4A4A;
}

/*-------- Средняя часть -------*/
.first_text {
    width: 739px;
    height: 562px;
    position: absolute;
    left: 589px;
    top: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #707070;
}

.our_goal {
    position: absolute;
    left: 589px;
    top: 570px;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    text-align: justify;
    color: #707070;
}

.second_text {
    width: 739px;
    height: 562px;
    position: absolute;
    left: 589px;
    top: 650px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #707070;
}

/*------------- Правая часть -----------*/
.right_sign {
    position: absolute;
    width: 508px;
    height: 1344.47px;
    left: 1412px;
    top: 84px;

}

.first_picture {
    position: absolute;
    left: 0%;
    right: 19.68%;
    top: 0%;
    bottom: 78.36%;

    background: url(../img/vue.jpg);
    background-size: 100%;
}

.first_picture>p {
    font-size: 38px;
    color: #fff;
    position: absolute;
    top: 140px;
    left: 50px;
}

.first_picture>p:nth-child(2) {
    font-size: 14px;
    top: 220px;
}

.quote {
    position: absolute;
    width: 108px;
    height: 24px;
    left: 48px;
    top: 319px;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;

    color: #AFAFAF;
}

.dzhorch {
    position: absolute;
    left: 9.65%;
    right: 39.12%;
    top: 27.33%;
    bottom: 70%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #707070;
}

.line {
    position: absolute;
    width: 508px;
    height: 1px;
    left: 0px;
    top: 427.76px;
    background: #DEDEDE;
}