@font-face {
    font-family: 'Lato';
    src:
        url('../fonts/Lato-Regular.ttf'),
        url('../fonts/Lato-Black.ttf'),
        url('../fonts/Lato-BlackItalic.ttf'),
        url('../fonts/Lato-Italic.ttf'),
        url('../fonts/Lato-Light.ttf'),
        url('../fonts/Lato-LightItalic.ttf'),
        url('../fonts/Lato-ThinItalic.ttf');
}

@font-face {
    font-family: 'PT serif';
    src:
        url('../fonts/PTSerif-Regular.ttf'),
        url('../fonts/PTSerif-Bold.ttf'),
        url('../fonts/PTSerif-BoldItalic.ttf'),
        url('../fonts/PTSerif-Italic.ttf');

}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}

* {
    font-family: 'PT serif';
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #E5E5E5;
    overflow-x: hidden;
}

main {
    position: absolute;
    width: 1920px;
    height: 2097px;
    background: #FAFAFA;
    ;
}

/*---------- Левая часть -------------*/

.theme {
    width: 51px;
    height: 24px;
    position: absolute;
    left: 105px;
    top: 112px;
    font-family: 'Thames';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #AFAFAF;
}

.values_goals,
.society,
.science_philosophy,
.humor_irony {
    width: 450px;
    height: 60px;
    position: relative;
    left: 100px;
    top: 177px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
    overflow: hidden;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    font-feature-settings: 'liga' off;

}

.values_goals {
    height: 700px;
}

.society {
    top: 160px;
}

.science_philosophy {
    top: 160px;
}

.humor_irony {
    top: 160px;
}

.left_drop_down_text {
    border-bottom: 1px solid #ddd;
    width: 320px;
    line-height: 24px;
}

.drop_down_logo {
    width: 8px;
    height: 12px;
    background: #B7B7B7;
    clip-path: polygon(0 0, 100% 50%, 0% 100%);
    position: absolute;
    left: 350px;
    top: 40px;
}

/*-------- Средняя часть -------*/

.center {
    position: absolute;
    width: 905px;
    height: 1608px;
    left: 507px;
    top: 84px;
    background: #FFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}

.lafeum {
    position: absolute;
    width: 227px;
    height: 24px;
    left: 579.69px;
    top: 228.91px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    color: #4A4A4A;
}

.text {
    position: absolute;
    width: 739px;
    height: 562px;
    left: 589px;
    top: 300px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #707070;
}

/*------------- Правая часть -----------*/

.right_sign {
    position: absolute;
    width: 508px;
    height: 1344.47px;
    left: 1412px;
    top: 84px;
    background: #FAFAFA;
}

.first_picture {
    position: absolute;
    left: 0%;
    right: 19.68%;
    top: 0%;
    bottom: 78.36%;
    background: url('../img/nature.jpg') 50% no-repeat;
    background-size: 120%;
}

.second_picture {
    width: 407px;
    height: 300px;
    position: absolute;
    left: 0%;
    right: 19.88%;
    top: 69.58%;
    bottom: 8.17%;
    background: url('../img/earth.jpg') 50% no-repeat;
    background-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #CC3333;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(34, 46, 79, 0.15);
}

.play_icon {
    width: 23px;
    height: 34px;
    background: #fff;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.first_picture>p {
    font-size: 38px;
    color: #fff;
    position: absolute;
    top: 140px;
    left: 50px;
}

.first_picture>p:nth-child(2) {
    font-size: 14px;
    top: 220px;
}

.quote {
    position: absolute;
    height: 24px;
    left: 48px;
    top: 319px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #AFAFAF;
}

.quote_text {
    position: absolute;
    left: 9.48%;
    right: 19.68%;
    top: 33.7%;
    bottom: 58.96%;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #494949;
}

.quote_author,
.term_author,
.video_author {
    position: absolute;
    left: 9.65%;
    right: 39.12%;
    top: 27.33%;
    bottom: 70%;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000;
}

.term_author {
    top: 48.02%;
    bottom: 49.3%;
}

.video_author {
    left: 9.65%;
    right: 38.38%;
    top: 66.97%;
    bottom: 30.35%;
}

.line,
.line2 {
    position: absolute;
    width: 508px;
    height: 1px;
    left: 0px;
    top: 427.76px;
    background: #DEDEDE;
}

.line2 {
    top: 706.04px;
}

.term_text {
    position: absolute;
    left: 9.48%;
    right: 19.88%;
    top: 54.4%;
    bottom: 38.26%;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #494949;
}

.more,
.more2 {
    position: absolute;
    width: 42px;
    height: 24px;
    left: 349.14px;
    top: 539.43px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #20A6FC;
}

.more2 {
    left: 348.97px;
    top: 818.43px;
}

.day_term,
.video {
    position: absolute;
    height: 24px;
    left: 48px;
    top: 597.28px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #AFAFAF;
}

.video {
    height: 24px;
    top: 854.46px;
}

.video_text {
    position: absolute;
    left: 8.86%;
    right: 19.88%;
    top: 94.05%;
    bottom: 0%;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #494949;
}