@media (max-width:1024px),
(max-height:768px) {
    header {
        width: 640px;
        height: 28px;
    }

    .header_link {
        font-size: 5px;
        line-height: 7px;
        top: 11px;
    }

    .main_logo {
        width: 24px;
        height: 17px;
        left: 33px;
        top: 4px;
    }

    .header_link:nth-child(2) {
        left: 82px;
    }

    .header_link:nth-child(3) {
        left: 129px;
    }

    .header_link:nth-child(4) {
        left: 159px;
    }

    .header_link:nth-child(5) {
        left: 186px;
    }

    .header_link:nth-child(6) {
        left: 214px;
    }

    .header_link:nth-child(7) {
        left: 238px;
    }

    .header_link:nth-child(8) {
        left: 269px;
    }

    .user {
        width: 18px;
        height: 18px;
        left: 589px;
        top: 5px;
    }

    /*----------- MAIN ---------- */

    main {
        width: 640px;
        height: 699px;
    }

    /************ Левая часть ***********/

    .theme {
        width: 17px;
        height: 8px;
        left: 35px;
        top: 37px;
        font-size: 5.3px;
        line-height: 8px;
        letter-spacing: 0.023em;
    }

    .values_goals,
    .society,
    .science_philosophy,
    .humor_irony {
        width: 150px;
        height: 26.6px;
        left: 33.3px;
        top: 59px;
        line-height: 10px;
        letter-spacing: 0.02em;
        font-size: 8px;
    }

    .values_goals {
        height: auto;
    }

    .society,
    .humor_irony,
    .science_philosophy {
        top: 58px;
    }

    .left_drop_down_text {
        border-bottom: 0.3px solid #ddd;
        width: 106px;
        line-height: 8.6px;
        font-size: 5px;
    }

    .left_drop_down_text:first-child {
        font-size: 8px;
        border-bottom: none;
    }

    .left_drop_down_text:last-of-type {
        border-bottom: none;
    }

    .drop_down_logo {
        width: 3px;
        height: 4px;
        background: #B7B7B7;
        clip-path: polygon(0 0, 100% 50%, 0% 100%);
        position: absolute;
        left: 116px;
        top: 13px;
    }

    /*-------- Средняя часть -------*/

    .center {
        position: absolute;
        width: 301px;
        height: 536px;
        left: 169px;
        top: 28px;
        background: #FFF;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    }

    .lafeum {
        width: 75px;
        height: 8px;
        left: 193px;
        top: 76px;
        font-size: 19px;
        line-height: 8px;
    }

    ._our_goal_ {
        font-size: 8px;
    }

    .text {
        width: 246px;
        height: 187px;
        left: 196px;
        top: 100px;
        font-size: 5px;
        line-height: 8px;
    }

    /*------------- Правая часть -----------*/

    .right_sign {
        width: 169px;
        height: 448px;
        left: 470px;
        top: 28px;
    }

    .first_picture {
        width: 136px;
        height: 97px;
        right: 6.56%;
        bottom: 26.12%;
    }

    .second_picture {
        width: calc(407px/3);
        height: calc(300px/3);
        right: 33px;
        top: 339px;
    }

    .red_circle {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        opacity: 0.9;
    }

    .play_icon {
        width: 7.6px;
        height: 11px;
    }

    .first_picture>p {
        font-size: 12px;
        top: 46px;
        left: 16px;
    }

    .first_picture>p:nth-child(2) {
        font-size: 5px;
        top: 73px;
    }

    .quote {
        height: 8px;
        left: 16px;
        top: 106px;
        font-size: 5px;
        line-height: 8px;
        letter-spacing: 0.023em;
    }

    .quote_text {
        width: 130px;
        right: 100px;
        top: 250px;
        font-size: 5px;
        line-height: 6.6px;
    }

    .quote_author,
    .term_author,
    .video_author {
        right: 66px;
        font-size: 5px;
        line-height: 9px;
    }

    .quote_author {
        width: 70px;
        top: 120px;
        right: 198px;

    }

    .term_author {
        top: 210px;
        bottom: 49.3%;
    }

    .video_author {
        width: 100px;
        right: 100px;
        top: 320px;
    }

    .line,
    .line2 {
        width: 169px;
        height: 0.33px;
        top: 142px;
    }

    .line2 {
        top: 235px;
    }

    .term_text {
        width: 130px;
        right: 100px;
        top: 150px;
        font-size: 5px;
        line-height: 6.6px;
    }

    .more,
    .more2 {
        width: 14px;
        height: 8px;
        left: calc(349px/3);
        top: 180px;
        font-size: calc(14px/3);
        line-height: calc(24px/3);
        letter-spacing: calc(0.07em/3);
    }

    .more2 {
        left: calc(348.97px/3);
        top: 280px;
    }

    .day_term,
    .video {
        height: calc(24px/3);
        left: calc(48px/3);
        top: 195px;
        font-size: calc(16px/3);
        line-height: calc(24px/3);
        letter-spacing: calc(0.07em/3);
    }

    .video {
        height: calc(24px/3);
        top: 295px;
    }

    .video_text {
        right: 100px;
        width: 120px;
        top: 448px;
        font-size: calc(16px/3);
        line-height: calc(20px/3);
    }

    /******* FOOTER ********/

    footer {
        width: 640px;
        height: 143px;
    }

    .footer_logo {
        width: 29px;
        height: 24px;
        left: 305px;
        top: 13px;
    }

    .footer_text {
        width: 169px;
        height: 21px;
        left: 235px;
        top: 44px;
        font-size: calc(16px/3);
        line-height: calc(21px/3);
        letter-spacing: calc(-0.231818px/3);
    }

    .about,
    .use_term,
    .privacy_policy,
    .contacts {
        width: 230px;
        height: 26px;
        font-size: 5px;
        line-height: 26px;
    }

    .use_term {
        left: 15.21%;
    }

    .privacy_policy {
        height: 18px;
        line-height: 18px;
        letter-spacing: -0.204545px;
    }

    .contacts {
        left: 90.64%;
    }

    .right_reserved {
        width: 100%;
        height: 19.6px;
        font-size: 4.6px;
    }

    .instagram_logo,
    .ball_logo,
    .twitter_logo,
    .youtube_logo {
        width: 5px;
        height: 5px;
        position: absolute;
        left: 5px;
        top: 0;
    }

    .ball_logo {
        top: 0;
        left: 20px;
    }

    .twitter_logo {
        top: 0;
        left: 35px;
    }

    .youtube_logo {
        top: 0;
        left: 50px;
    }

    .first_footer_container {
        width: 256px;
        height: 8.6px;
        left: 191px;
        top: 60px;
    }

    .second_footer_container {
        width: 144px;
        height: 24px;
        left: 285px;
        top: 106px;
    }

    /*********** dictionary page ***********/

    ._lafeum_dictionary_ {
        width: 160px;
        height: 8px;
        left: 201px;
        top: 59px;
        font-size: 16px;
        line-height: 8px;
    }

    .search_bar {
        width: 239px;
        height: 17px;
        left: 201px;
        top: 92px;
        padding: 4.6px 5.3px;
    }

    .search_icon {
        width: 6px;
        height: 6px;
        right: 6px;
    }

    .search_field {
        width: 216.6px;
        height: 8px;
        font-size: 4.6px;
        line-height: 8px;
    }

    .search_queries {
        width: 186.6px;
        height: 19px;
        left: 200px;
        top: 120px;
        line-height: 9.6px;
        font-size: 5px;
    }

    .words {
        font-size: 8px;
    }

    .all_letters {
        height: 8px;
        left: 201px;
        top: 152px;
        font-size: 5.6px;
        line-height: 8px;
        letter-spacing: 0.023em;
    }

    .first_slot,
    .second_slot,
    .third_slot {
        width: 77.6px;
        height: 236px;
        left: 204px;
        top: 165.6px;
        font-size: 4.3px;
        line-height: 6.2px;
        letter-spacing: 0.06px;
    }

    .second_slot {
        left: 293px;
    }

    .third_slot {
        left: 376.6px;
    }

    .down_sign {
        width: 10.6px;
        height: 10.6px;
        right: 314.6px;
        top: 413px;
    }

    .sign {
        width: 4.3px;
        height: 4.3px;
    }

    .left_side,
    .right_side {
        width: 10.6px;
        height: 10.6px;
        left: 286.6px;
        top: 436px;
        font-size: 4.3px;
        line-height: 6.2px;
    }

    .right_side {
        left: 340px;
    }

    .number_slider {
        width: 10.6px;
        height: 10.6px;
        right: 314px;
        top: 436px;
        font-size: 4.3px;
    }

    .left_number,
    .right_number {
        width: 10.6px;
        height: 10.6px;
        left: 303px;
        top: 436px;
        font-size: 4.3px;
        line-height: 6.3px;
    }

    .right_number {
        left: 333px;
    }

    /************ Qoute page ************/

    ._Quote_ {
        width: 142.6px;
        height: 8px;
        left: 201px;
        top: 59px;
        font-size: 16px;
        line-height: 8px;
    }

    .first_quote,
    .second_quote {
        width: 268px;
        height: 123px;
        left: 16.3px;
        top: 66.6px;
    }

    .second_quote {
        height: 148px;
        top: 200px;
    }

    .source {
        left: 3.57%;
        top: 10px;
        font-size: 4.2px;
        line-height: 6.6px;
    }

    .user_number {
        position: absolute;
        left: 86%;
        top: 10px;
        font-size: 4.2px;
        line-height: 6.6px;
    }

    .under_source_line {
        width: 235px;
        height: 0.3px;
        left: 10px;
        top: 23px;
    }

    .user_quote {
        left: 3.6%;
        top: 28px;
        font-size: 5.3px;
        line-height: 8px;
    }

    .user_logo_head {
        width: 3px;
        height: 2px;
        left: 3.85%;
        top: 55.6px;
    }

    .user_logo_body {
        width: 4px;
        height: 2px;
        left: 10px;
        top: 58px;
    }

    .user_name {
        position: absolute;
        left: 6%;
        top: 53px;
        font-size: 5px;
        line-height: 9.6px;
        font-weight: 400;
    }

    .achievements {
        left: 3.6%;
        top: 64px;
        font-size: 4.3px;
        line-height: 6.6px;
    }

    .under_achievements_line {
        width: 235px;
        height: 0.3px;
        left: 3.6%;
        top: 73px;
    }

    .under_share_line {
        width: 213px;
        height: 0.3px;
        left: 3.6%;
        top: 93px;
    }

    .heart {
        width: 7px;
        height: 6px;
        left: 10px;
        top: 81px;
    }

    .heart_number {
        left:18px;
        top: 81px;
        font-size: 4px;
        line-height: 6.6px;
    }

    .flag {
        width: 7px;
        height: 6px;
        left: 25px;
        top: 81px;
    }

    .flag_number {
        left: 32px;
        top: 81px;
        font-size: 4px;
        line-height: 6.6px;
    }

    .comment {
        width: 9px;
        height: 7px;
        left: 38px;
        top: 81px;
    }

    .comment_number {
        left: 47px;
        top: 81px;
        font-size: 4px;
        line-height: 6.6px;
    }

    .share {
        width: 6.6px;
        height: 7px;
        left: 235px;
        top: 80.6px;
    }

    .user_logo {
        width: 13px;
        height: 13px;
        left: 10px;
        bottom: 12px;
    }

    .second_user_logo {
        width: 13px;
        height: 13px;
        left: 15px;
        top: 125px;
    }

    .user_reply_box {
        left: 10%;
        top: 100px;
        width: 219px;
        height: 18px;
    }

    .user_reply_text {
        left: 5px;
        top: 40%;
        font-size: 4px;
        line-height: 6.6px;

    }

    .user_name_reply {
        left: 5px;
        top: 5.6%;
        font-size: 4px;
        line-height: 6.6px;
    }

    .another_user {
        left: 10px;
        top: 100px;
        width: 12px;
        height: 12px;
    }

    .write_comment {
        width: 206px;
        height: 12px;
        left: 12%;
        top: 80%;
        padding-left: 3.3px;
    }

    .second_write_comment {
        width: 206px;
        height: 12px;
        left: 30px;
        top: 125px;
        padding-left: 3.3px;
    }

    .inside_comment {
        width: 89.3px;
        height: 6.6px;
        font-size: 4px;
        line-height: 6.6px;
    }
}