.QUOTE {
    position: absolute;
    width: 428px;
    height: 24px;
    left: 604px;
    top: 177px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #4A4A4A;
}

.first_quote,
.second_quote {
    position: absolute;
    width: 804px;
    height: 369px;
    left: 49px;
    top: 200px;
    background: #FAFAFA;
    border-radius: 2px;
}

.second_quote {
    top: 600px;
}

.source {
    position: absolute;
    left: 10.72%;
    right: 61.5%;
    top: 7.61%;
    bottom: 87.31%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #707070;
}

.user_number {
    position: absolute;
    left: 84.31%;
    right: 5.79%;
    top: 7.61%;
    bottom: 87.31%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #A3A3A3;
}

.user_quote {
    position: absolute;
    left: 10.72%;
    right: 10.72%;
    top: 21.39%;
    bottom: 62.62%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #676767;
}

.user_logo_head {
    position: absolute;
    left: 11%;
    right: 88%;
    top: 42.39%;
    bottom: 55.84%;
}

.user_logo_body {
    position: absolute;
    left: 86.5px;
    top: 44.5%;
}

.user_name {
    position: absolute;
    left: 13.5%;
    top: 41%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 29px;
    color: #4A4A4A;
}

.achievements {
    position: absolute;
    left: 10.72%;
    right: 74.99%;
    top: 48.87%;
    bottom: 46.05%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #6C6C6C;
}

.heart {
    position: absolute;
    left: 10.74%;
    right: 87.04%;
    top: 61.49%;
    bottom: 34.12%;
    color: #D8D8D8;
}

.heart_number {
    position: absolute;
    left: 14%;
    top: 61%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #D8D8D8;
}

.flag {
    position: absolute;
    left: 140px;
    top: 225px;
    bottom: 2.72px;
}

.flag_number {
    position: absolute;
    left: 20%;
    top: 61%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #D8D8D8;
}

.comment {
    position: absolute;
    width: 27.9px;
    height: 21.67px;
    left: 185px;
    top: 227px;
}

.comment_number {
    position: absolute;
    left: 26.52%;
    right: 74.7%;
    top: 61%;
    bottom: 35.19%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #D8D8D8;
}

.share {
    position: absolute;
    left: 83.76%;
    right: 14.03%;
    top: 61.49%;
    bottom: 33.43%;
}

.user_logo {
    position: absolute;
    left: 10.72%;
    right: 84.97%;
    top: 76.21%;
    bottom: 13.89%;
    background: url('../img/hacker.jpg');
    background-size: 100%;
    border-radius: 100px;
}

.write_comment {
    width: 620px;
    height: 37px;
    position: absolute;
    left: 16.69%;
    right: 10.72%;
    top: 76.21%;
    bottom: 14.4%;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding-left: 10px;
}

.inside_comment {
    border: none;
    outline: none;
    width: 268px;
    height: 20px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    background: transparent;
}