.Video {
    position: absolute;
    width: 138px;
    height: 24px;
    left: 559px;
    top: 177px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #4A4A4A;
}

.last_video {
    position: absolute;
    width: 226px;
    height: 24px;
    left: 559px;
    top: 394px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #4A4A4A;
}

.first_video_container {
    width: 799px;
    height: 268.8px;
    position: absolute;
    left: 559px;
    top: 475.21px;
    background: #FBFBFB;
    border-radius: 2px;
}

.second_video_container {
    position: absolute;
    width: 799px;
    height: 420.32px;
    left: 559px;
    top: 772.91px;
    background: #FBFBFB;
    border-radius: 2px;
}

.third_video_container {
    position: absolute;
    width: 799px;
    height: 268.8px;
    left: 559px;
    top: 1212px;
    background: #FBFBFB;
    border-radius: 2px;
}

.video1 {
    position: absolute;
    width: 176px;
    height: 117px;
    left: 43px;
    top: 27.72px;
    background: url('../img/video.png');
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_button {
    width: 44px;
    height: 44px;
    background: #CC3333;
    opacity: 0.9;
    box-shadow: 0px 4px 8px rgba(34, 46, 79, 0.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle {
    width: 10px;
    height: 14px;
    background: #fff;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}