
.vocabulary_lufeum {
    width: 500px;
    left: 604px;
    top: 150px;
    font-family: 'PT Serif';
    font-size: 48px;
    display: flex;
    align-items: center;

}

.search_bar {
    width: 720px;
    height: 52px;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    padding: 14px 16px;
    gap: 10px;
    border: 1px solid #9B9B9B;
    border-radius: 2px;
    left: 604px;
    top: 300px;
}

.inside_search_bar {
    width: 95%;
    height: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #9B9B9B;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    outline: none;
}

.search_queries {
    position: absolute;
    width: 565px;
    height: 58px;
    left: 31.46%;
    right: 39.11%;
    top: 360px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    color: #8C8888;
}
